<div class="w-full grid grid-cols-2 bg-white h-screen">
  <div class="bg-img bg-orangeBg">
    <div class="flex items-center pt-5 px-8 text-2xl text-gray-400 tracking-tight gap-1">
      AMALIT 
      <div class="flex flex-col gap-gapLogo items-center -ml-1">
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
      </div>
      CH
    </div>
  </div>
  <div class="flex items-center flex-col py-32">
    <div class="flex items-center pt-5 px-8 text-2xl text-gray-400 tracking-tight gap-1 mb-3">
      AMALIT 
      <div class="flex flex-col gap-gapLogo -ml-1">
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
      </div>
      CH
    </div>
    <h2 class="text-sky-900 text-3xl mb-2 tracking-wide">Sign In</h2>
    <p class="tracking-wider text-gray-800 font-normal mb-8">Enter your credentials to access your account</p>

    <form>
      
    </form>
  </div>
</div>