<div class="w-full grid grid-cols-2 bg-white h-screen">
  <div class="bg-img bg-orangeBg">
    <div class="flex items-center pt-5 px-8 text-2xl text-gray-400 tracking-tight gap-1">
      AMALIT 
      <div class="flex flex-col gap-gapLogo items-center -ml-1">
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
      </div>
      CH
    </div>
  </div>
  <div class="flex items-center flex-col py-32">
    <div class="flex items-center pt-5 px-8 text-2xl text-gray-400 tracking-tight gap-1 mb-3">
      AMALIT 
      <div class="flex flex-col gap-gapLogo -ml-1">
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
        <span class="bg-logo w-4 h-height"></span>
      </div>
      CH
    </div>
    <h2 class="text-sky-900 text-3xl mb-2 tracking-wide">Sign In</h2>
    <p class="tracking-wider text-gray-800 font-normal mb-8">Enter your credentials to access your account</p>

    <form class="flex flex-col gap-4 w-width mb-10"> 
      <div class="">
        <label for="email" class="text-sky-900">Email</label>
        <div class="flex items-center gap-3 px-5 py-1 border w-full border-slate-300 rounded-md focus-within:border-hoverColor">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <input type="email" placeholder="Email" class="border-none w-full focus-within:outline-none placeholder:text-sky-900">
        </div>
      </div>
      
      <div class="">
        <label for="password">Password</label>
        <div class="flex items-center gap-3 px-5 py-1 border w-full border-slate-300 rounded-md focus-within:border-hoverColor">
          <fa-icon [icon]="faLock" class=""></fa-icon>
          <input type="password" placeholder="Password" class="border-none w-full focus-within:outline-none placeholder:text-sky-900">
        </div>
      </div>
      <button type="submit" class="bg-buttonBg w-32 text-lg rounded-md py-2 text-white font-medium shadow-lg hover:bg-orange-400">Sign in</button>
    </form>

    <div class="flex items-center gap-8">
      <p class="text-sm text-gray-500 hover:text-hoverColor cursor-pointer">Terms of service</p>
      <p class="text-sm text-gray-500 hover:text-hoverColor cursor-pointer">Policy Privacy</p>
      <p class="text-sm text-gray-500 hover:text-hoverColor cursor-pointer">Contact support</p>
    </div>
  </div>
</div>